/* titulo */
header{
	flex-direction: column;
	align-items: flex-start;
    text-align: center;
    background-color: #DFCCBE;
    font-family: cursive;

}

/* fondo de pagina */
body{
    background-color: #FFF8F2;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* menu */
.menu{
    position:fixed;
    margin-top: -1.5em;
    width: 100%;
}
nav{
    background: rgb(122, 251, 214);
    width: 100%;
    z-index: 100;
    float: left;   
}
nav ul {
    list-style: none;
    overflow: hidden; 
}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav ul li:hover {
    background: #c9fff6;
}

h1{
    padding-top: 2em;
    text-align: center;
}

h2{
    font-family: cursive;
    font-size: 35px;
}

h3{
    font-family: cursive;
}

.Img{
    text-align: center;
}

.Ingredientes{
    text-align: left;
    padding-left: 5%;
    font-size: 20px;
    font-family: cursive;
}

.boton{
    position:fixed;
    bottom: 5px;
    right: 5px;
}

.Formulario{
    padding-left: 5%;
    font-family: cursive;
}

a{
    text-decoration: none;
}