body{
    padding-left: 2em;
    padding-right: 2em;
    background-color: lightcyan;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.titulo{
    text-align: center;
    background-color: rgb(186, 248, 227);
    font-family: cursive;
}

h3{
    font-family: cursive;
}

.Img{
    position: static;
    margin-right: 75em;
}

.Ingredientes{
    text-align: left;
}

.boton{
    position: relative;
    text-align: right;
}

.Formulario{
    font-family: cursive;
}